# PostgreSQL
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=

# pgAdmin
PGADMIN_DEFAULT_EMAIL=
PGADMIN_DEFAULT_PASSWORD=
PGADMIN_CONFIG_ENHANCED_COOKIE_PROTECTION=True
PGADMIN_CONFIG_WTF_CSRF_CHECK_DEFAULT=False

# API
PORT=3001
NODE_ENV=development
DB_HOST=localhost
DB_PORT=5432
DB_USER=
DB_PASS=
DB_NAME=
JWT_SECRET=
JWT_EXPIRES_IN=15m
JWT_ISSUER=
JWT_AUDIENCE=
JWT_ALGO=
FRONTEND_ORIGIN=

# Swarm deployment
IMAGE_TAG=
PROMETHEUS_IMAGE_TAG=
GRAFANA_IMAGE_TAG=
ALERTMANAGER_IMAGE_TAG=
NODE_EXPORTER_IMAGE_TAG=
CADVISOR_IMAGE_TAG=
BACKUP_RETENTION_DAYS=
BACKUP_INTERVAL_SECONDS=