node_modules/
dist/
build/
coverage/
.temp/
.tmp/
pids/
*.pid
*.seed
*.pid.lock
logs/
*.log
npm-debug.log*
pnpm-debug.log*
pnpm-lock.yaml
lerna-debug.log*
.DS_Store
Thumbs.db
env/
.env.*
.env.local
apps/**/.env
.idea/
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.nyc_output/
report.*.json
**/docker-data/
**/dbdata/
**/pgadmin_data/
